.custom-button {
    background-color: rgba(149, 129, 14, 0.689) !important;
    border-color: rgb(245, 245, 245);
    color: white;
    margin-right: 20px;
}

.custom-button:hover {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
    color:black;
}